<h4 id="status">Status: <%= @application.status %></h4>

<% @pets.each_with_index do |pet, index| %>
  <div id="pet-<%= index %>">
    <%= pet.name %>:
    <% if pet.approved_applications(@application.id) %>
      Approved!<br/>
    <% elsif pet.denied_applications(@application.id) %>
      Rejected.<br/>
    <% else %>
      <% if pet.adoptable %>
        <form action="/admin/applications/<%=@application.id%>">
            <input type="hidden" id="pet" name="pet" value="<%= pet.id %>" />
            <input type="hidden" id="approved" name="approved" value="true" />
            <input type="submit" value="Approve this pet">
        </form>
        <form action="/admin/applications/<%=@application.id%>">
            <input type="hidden" id="pet" name="pet" value="<%= pet.id %>" />
            <input type="hidden" id="approved" name="approved" value="false" />
            <input type="submit" value="Reject this pet">
        </form>
      <% else %>
        This pet has been approved for adoption.
        <form action="/admin/applications/<%=@application.id%>">
            <input type="hidden" id="pet" name="pet" value="<%= pet.id %>" />
            <input type="hidden" id="approved" name="approved" value="false" />
            <input type="submit" value="Reject this pet">
        </form>
      <% end %>
    <% end %><br/>
  </div>
<% end %>