<% @shelters.each_with_index do |shelter, index| %>
  <div id="shelter-<%=index%>">
    <p><a href="/admin/shelters/<%=shelter.id%>"><%=shelter.name%></a></p>
  </div>
<% end %>

<h3>Shelters with Pending Applications</h3>

<div id="pending">
  <% @pendings.each do |shelter| %>
    <p><a href="/admin/shelters/<%=shelter.id%>"><%=shelter.name%></a></p>
  <% end %>
</div>